.banner-categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.banner-categorias div {
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 1rem;
    background-image: url("../img/bart2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.banner-categorias div a {
    color: var(--clr-oscuro);
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
    background-color: var(--clr-rojo);
}

@media (max-width: 992px) {
    .banner-categorias {
        grid-template-columns: 1fr;
        margin-bottom: 20px;

    }
    .banner-categorias div{
        height: 15vh;
    }
    .banner-categorias div a {
        font-size: 18px;
    }


}